<footer class="main-footer">
    <div class="footer-content">
        <!-- 로고 -->
        <div class="footer-logo-container">
            <img src="/resources/frontuser/assets/images/AAB_logo.png" alt="AAB Pickleball" class="footer-logo">
            <span class="footer-logo-text">PICKLEBALL</span>
        </div>
        <!-- 소셜미디어 아이콘 -->
        <div class="footer-logo-social">
            <div class="social-icons">
                <a href="https://facebook.com" class="social-btn">
                    <img src="/resources/frontuser/assets/images/facebook-icon.png" alt="Facebook">
                </a>
                <a href="https://www.instagram.com/aab_pickleball/" class="social-btn">
                    <img src="/resources/frontuser/assets/images/instagram-icon.png" alt="Instagram">
                </a>
                <a href="https://youtube.com" class="social-btn">
                    <img src="/resources/frontuser/assets/images/youtube-icon.png" alt="YouTube">
                </a>
            </div>
            <a href="login.html" class="btn-login">Log In</a>
        </div>
    </div>

    <!-- 회사 정보 -->
    <div class="company-info">
        <p>주식회사 그린라이트그룹<br>사업자 등록번호 883-88-01979<br>대표이사 김용각, 황규진</p>
        <p>서울특별시 서초구 강남대로 37길 49<br>451호 (서초동, 애서니움 빌딩)<br>대표전화 02.6001.6947</p>
        <p>개인정보관리책임자 이창석<br>michael.lee@montissports.com</p>
    </div>

    <!-- 구독 신청 박스 -->
    <div class="footer-image-container">
        <img src="/resources/frontuser/assets/images/SingUp.png" alt="Stay in the Know">
    </div>

</footer>

<!-- Login Modal -->
<div id="login-modal" class="login-modal hidden">
    <div class="login-modal-content">
        <!-- <button class="login-close-btn">&times;</button> -->
        <div id="modal-content-innerbox" class="login-modal-content-innerbox">
            <h1>STAY IN THE KNOW...</h1>
            <p>SIGN UP TO BE AMONG THE FIRST TO KNOW ABOUT UPCOMING EVENTS, PROMOTIONS, GIVEAWAYS, NEWS, AND MORE...</p>

            <!-- 이메일 입력 -->
            <div class="login-email-input">
                <input type="email" placeholder="Enter Your E-mail">
                <button class="sign-up-btn">
                    <img src="/resources/frontuser/assets/images/add-user.png" alt="User icon" class="user-icon">
                    <span class="divider"></span>
                    <h4>SIGN UP</h4>
                </button>
            </div>
        </div>
    </div>
</div>
