<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/resources/frontuser/assets/css/styles.css">
<title>AAB Pickleball</title>

<link rel="shortcut icon" href="/resources/frontuser/assets/images/AAB_logo.png">

<!--add files-->

<!---->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/resources/common/js/default.js"></script>
    <script src="/resources/common/js/user.js"></script>
    <!-- CUSTOM JS -->
    <script src="/resources/common/js/handlebars.min.js"></script>
    <!-- CUSTOM CSS -->
    <link href="/resources/common/css/style.css" rel="stylesheet">
<style>
    .hide{
        display: none;
    }
</style>

