<!DOCTYPE html>
<html
        lang="en"
        class="light-style customizer-hide"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/resources/nowfront/assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Sign Up</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/resources/nowfront/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/resources/nowfront/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/resources/nowfront/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/resources/nowfront/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/resources/nowfront/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/resources/nowfront/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/resources/nowfront/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="/resources/nowfront/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/resources/nowfront/assets/js/config.js"></script>
</head>

<body>
<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/index" class="app-brand-link gap-2">
                            <span class="app-brand-text demo text-body fw-bolder">JOMO</span>
                        </a>
                    </div>

                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="create_tbuser_username" class="form-label">Username</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="create_tbuser_username"
                                    name="username"
                                    placeholder="Enter your username"
                                    autofocus
                            />
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="create_tbuser_password">Password</label>
                            <div class="input-group input-group-merge">
                                <input
                                        type="password"
                                        id="create_tbuser_password"
                                        class="form-control"
                                        name="password"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                        aria-describedby="password"
                                />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <button class="btn btn-primary d-grid w-100" onclick="login()">login</button>
                    </div>


                    <div class="mb-3" style="text-align: center;">
                        <br/>
                        <br/>
                        <div>
                            SNS LOGIN
                        </div>
                        <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.2/kakao.min.js" integrity="sha384-TiCUE00h649CAMonG018J2ujOgDKW/kVWlChEuu4jK2vxfAAD0eZxzCKakxg55G4" crossorigin="anonymous"></script>
                        <!--주의!!! 배포 전 꼭 변경하셔야 합니다!-->
                        <script>
                            Kakao.init('b950fef568ed9337913c6fde336ed3f1'); // 사용하려는 앱의 JavaScript 키 입력
                        </script>
                        <a id="kakao-login-btn" href="javascript:loginWithKakao()">
                            <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222" alt="카카오 로그인 버튼" />
                        </a>
                        <p id="token-result"></p>

                        <script>
                            function loginWithKakao() {
                                Kakao.Auth.authorize({
                                    redirectUri: 'http://localhost:8080/tbuser/login/kakao',
                                });
                            }
                        </script>

                        <div style="width: 200px;">
                            <script src="https://accounts.google.com/gsi/client" async defer></script>
                            <div id="g_id_onload"
                                 data-client_id="868730276300-vmg16fubqhgv0g90gdn4t9g1quctjqiq.apps.googleusercontent.com"
                                 data-login_uri="/tbuser/login/google"
                                 data-auto_prompt="false"
                                 data-context="use">
                            </div>
                            <div class="g_id_signin"
                                 data-type="standard"
                                 data-size="large"
                                 data-theme="outline"
                                 data-text="sign_in_with"
                                 data-shape="rectangular"
                                 data-logo_alignment="left">
                            </div>
                        </div>

                    </div>


                    <p class="text-center">
                        <span>Do not have an account yet?</span>
                        <a href="/tbuser/signup">
                            <span>Signup instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>

<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/resources/nowfront/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/resources/nowfront/assets/vendor/libs/popper/popper.js"></script>
<script src="/resources/nowfront/assets/vendor/js/bootstrap.js"></script>
<script src="/resources/nowfront/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/resources/nowfront/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->

<!-- Main JS -->
<script src="/resources/nowfront/assets/js/main.js"></script>

<!-- Page JS -->

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
    function login(){
        $.ajax({
            url: "/api/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_tbuser_username").val()
                ,password : $("#create_tbuser_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert(JSON.stringify(obj_data));
                if(obj_data["id"] === "not matched"){
                    alert("아이디와 비밀번호가 올바르지 않습니다.");
                } else {
                    //alert(JSON.stringify(obj_data));
                    let refreshToken = xhr.getResponseHeader("RefreshToken");
                    let accessToken = xhr.getResponseHeader("Authorization");
                    localStorage.setItem("refreshToken", refreshToken);
                    localStorage.setItem("accessToken", accessToken);
                    //generateAccessToken(obj_data["id"]);
                    location.replace("/home");
                }
                //alert(JSON.stringify(data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>

</body>
</html>
