<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.sprboot.mapper.TbgrantuserMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.sprboot.dto.TbgrantuserDto$DetailResDto">
		SELECT tbgrantuser.id
			 ,tbgrantuser.deleted
			 ,tbgrantuser.process
			 ,tbgrantuser.created_at as createdAt
			 ,tbgrantuser.modified_at as modifiedAt
			 ,tbgrantuser.tbgrant_id as tbgrantId
			 ,tbgrantuser.tbuser_id as tbuserId
			 ,IF(tbuser.deleted = 'Y', '(deleted)', tbuser.username) as tbuserUsername
			 ,IF(tbuser.deleted = 'Y', '(deleted)', tbuser.name) as tbuserName
			 ,IF(tbuser.deleted = 'Y', '', tbuser.img) as tbuserImg
		FROM tbgrantuser, tbuser
		WHERE tbgrantuser.id = #{id}
		  AND tbgrantuser.tbuser_id = tbuser.id
	</select>
	<select id="list" parameterType="hashMap" resultType="com.thc.sprboot.dto.TbgrantuserDto$DetailResDto">
		SELECT tbgrantuser.id
		FROM tbgrantuser
		WHERE tbgrantuser.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbgrantuser.deleted = #{deleted}</if>
		<if test = "process != null and process !=''">AND tbgrantuser.process = #{process}</if>
		<if test = "tbgrantId != null and tbgrantId !=''">AND tbgrantuser.tbgrant_id = #{tbgrantId}</if>
		ORDER BY tbgrantuser.created_at DESC
	</select>

	<select id="scrollList" parameterType="hashMap" resultType="com.thc.sprboot.dto.TbgrantuserDto$DetailResDto">
		SELECT tbgrantuser.id
		FROM tbgrantuser
		WHERE tbgrantuser.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbgrantuser.deleted = #{deleted}</if>
		<if test = "process != null and process !=''">AND tbgrantuser.process = #{process}</if>
		<if test = "tbgrantId != null and tbgrantId !=''">AND tbgrantuser.tbgrant_id = #{tbgrantId}</if>

		<if test = "orderby =='created_at'">
			<if test = "orderway =='desc'">
				<if test = "cursor != null and cursor !=''">AND STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f') > tbgrantuser.created_at </if>
				ORDER BY tbgrantuser.created_at DESC
			</if>
			<if test = "orderway =='asc'">
				<if test = "cursor != null and cursor !=''">AND tbgrantuser.created_at > STR_TO_DATE(#{cursor}, '%Y-%m-%d %H:%i:%s.%f')</if>
				ORDER BY tbgrantuser.created_at ASC
			</if>
		</if>
		<if test = "orderby =='title'">
			<if test = "orderway =='desc'">
				<if test = "cursor != null and cursor !=''">AND #{cursor} > tbgrantuser.title</if>
				ORDER BY tbgrantuser.title DESC
			</if>
			<if test = "orderway =='asc'">
				<if test = "cursor != null and cursor !=''">AND tbgrantuser.title > #{cursor}</if>
				ORDER BY tbgrantuser.title ASC
			</if>
		</if>
		LIMIT 0, #{perpage}
	</select>

	<select id="pagedList" parameterType="hashMap" resultType="com.thc.sprboot.dto.TbgrantuserDto$DetailResDto">
		SELECT tbgrantuser.id
		FROM tbgrantuser
		WHERE tbgrantuser.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbgrantuser.deleted = #{deleted}</if>
		<if test = "process != null and process !=''">AND tbgrantuser.process = #{process}</if>
		<if test = "tbgrantId != null and tbgrantId !=''">AND tbgrantuser.tbgrant_id = #{tbgrantId}</if>

		<if test = "orderby =='created_at'">ORDER BY tbgrantuser.created_at </if>
		<if test = "orderby =='title'">ORDER BY tbgrantuser.title </if>
		<if test = "orderway =='asc'">ASC</if>
		<if test = "orderway =='desc'">DESC</if>
		LIMIT #{offset}, #{perpage}
	</select>
	<select id="pagedListCount" parameterType="hashMap" resultType="Integer">
		SELECT count(tbgrantuser.id) as listsize
		FROM tbgrantuser
		WHERE tbgrantuser.id is not NULL
		<if test = "deleted != null and deleted !=''">AND tbgrantuser.deleted = #{deleted}</if>
		<if test = "process != null and process !=''">AND tbgrantuser.process = #{process}</if>
		<if test = "tbgrantId != null and tbgrantId !=''">AND tbgrantuser.tbgrant_id = #{tbgrantId}</if>
	</select>

</mapper>