<!DOCTYPE html>
<html>
<head>
    <head th:replace="~{@{includes/admin/head}}"></head>
</head>
<body>

<div id="wrapper">
    <body th:replace="~{@{includes/admin/nav}}"></body>
    <script>
        $(".sidemenu_li_tbgalone").addClass("active");
    </script>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <body th:replace="~{@{includes/admin/navbar_top}}"></body>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Home Alone(<font class="font_tbgalone_title"></font>) User 신규</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/admin">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbgalone/admin_list">게임모음</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/tbgalone/admin_list">Home Alone 목록</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:location_href_path_param('/tbgalone/admin_detail/', getIdFromUrl(null))">Home Alone(<font class="font_tbgalone_title"></font>) 상세</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript:location_href_path_param('/tbgaloneuser/admin_list/', getIdFromUrl(null))">Home Alone(<font class="font_tbgalone_title"></font>) User 목록</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>Home Alone(<font class="font_tbgalone_title"></font>) User 신규</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="animated fadeInRight" style="padding-top:12.5px;padding-bottom:0px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox-title">
                        <h5>신규 등록</h5>
                    </div>
                    <div class="ibox-content" style="padding-bottom:0.1px;">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">*User 종류</label>
                            <div class="col-sm-4">
                                <select class="form-control m-b" id="create_tbgaloneuser_cate" keyword="cate">
                                    <option value="cpm">CPM 배너</option>
                                    <option value="cpp">CPP 배너</option>
                                    <option value="push">Push/문자메시지</option>
                                    <option value="quiz">퀴즈</option>
                                    <option value="customer">고객참여</option>

                                    <option value="package">패키지</option>
                                    <option value="popup">팝업/스플래시</option>
                                    <option value="news">뉴스레터</option>
                                    <option value="group">체험단/협찬</option>
                                    <option value="brand">브랜디드(기획 PPL)</option>

                                    <option value="cpa">CPA</option>
                                </select>
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*User 이름</label>
                            <div class="col-sm-4">
                                <input type="text" class="input_required form-control m-b" id="create_tbgaloneuser_title" keyword="title" placeholder="내용을 입력하세요" errormsg="필수값입니다."/>
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label">*가격 기준</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbgaloneuser_mark" keyword="mark" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>
                            <label class="col-sm-2 col-form-label">*가격</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbgaloneuser_price" keyword="price" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>
                            <label class="col-sm-2 col-form-label">성과지표</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control m-b" id="create_tbgaloneuser_indicator" keyword="indicator" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>
                            <label class="col-sm-6"></label>

                            <label class="col-sm-2 col-form-label" for="create_tbgaloneuser_target">*타겟팅 여부</label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-control m-t m-b" id="create_tbgaloneuser_target" keyword="target" />
                            </div>
                            <label class="col-sm-9"></label>

                            <label class="col-sm-2 col-form-label">*최소집행단가</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbgaloneuser_min" keyword="min" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>
                            <label class="col-sm-2 col-form-label">*대행수수료</label>
                            <div class="col-sm-4">
                                <input type="number" class="input_required form-control m-b" id="create_tbgaloneuser_fee" keyword="fee" placeholder="내용을 입력하세요" errormsg="필수값입니다." />
                            </div>

                        </div>
                        <div class="m-b" style="text-align: right;">
                            <button class="btn btn-primary btn-sm" onclick="create_tbgaloneuser()">등록하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $( document ).ready(function() {
                console.log( "ready!" );
                detail_tbgalone();
            });
            function detail_tbgalone(){
                let tbgaloneId = getIdFromUrl(null);
                let _data = new Map();
                _data.url = "/api/tbgalone";
                _data.type = "GET";
                _data.param = {'id':tbgaloneId};
                _data.success = function(obj_data, obj_status, obj_xhr){
                    listenerAfterDetail(obj_data, "tbgalone");
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
            function create_tbgaloneuser(){
                if(!listenerBeforeCreate()){
                    return false;
                }
                let tbgaloneId = getIdFromUrl(null);
                let _param = {
                    'tbgaloneId' : tbgaloneId,
                    'cate' : $("#create_tbgaloneuser_cate").val(),
                    'title' : $("#create_tbgaloneuser_title").val(),
                    'mark' : $("#create_tbgaloneuser_mark").val(),
                    'price' : $("#create_tbgaloneuser_price").val(),
                    'indicator' : $("#create_tbgaloneuser_indicator").val(),

                    'target' : $("#create_tbgaloneuser_target").prop("checked"),
                    'min' : $("#create_tbgaloneuser_min").val(),
                    'fee' : $("#create_tbgaloneuser_fee").val()
                };

                let _data = new Map();
                _data.url = "/api/tbgaloneuser";
                _data.type = "POST";
                _data.param = _param;
                _data.success = function(obj_data, obj_status, obj_xhr){
                    alert("등록");
                    location.reload();
                }
                _data.error = function(obj_data, obj_status, obj_xhr){
                    alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                }
                func_ajax(_data);
            }
        </script>
        <body th:replace="~{@{includes/admin/footer}}"></body>
    </div>
    <body th:replace="~{@{includes/admin/right_sidebar}}"></body>
</div>
<body th:replace="~{@{includes/admin/bottom}}"></body>
</body>
</html>
